h1{
  text-align: center;
  font-family: sans-serif;
}
.rob{
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.head, .left_arm,.torso,.right_arm, .left_leg, .right_leg{
  background-color: #ffccee;

}
.head{
  width: 200px;
  margin: 0 auto;
  height: 150px;
  border-radius: 200px 200px 0 0;
  margin-bottom: 10px;
}
.eyes{
  display: flex;
}
.head:hover{
  transform: rotateY(180deg);
  transition: all 2s;
}
.left_eyes, .right_eyes{
  width: 25px;
  height: 25px;
  border-radius: 20px;
  background-color: #ffffff;
}
.left_eyes{
  position: relative;
  top: 100px;
  left: 60px;
}
.right_eyes{
  position: relative;
  top: 100px;
  left: 100px;
}
.up_body{
  width: 300px;
  height: 150px;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
}
.left_arm, .right_arm{
  width: 40px;
  height: 120px;
  border-radius: 100px;
}
.left_arm{
  position: relative;
  margin-left: 0px;
  margin-right: 20px;
}
.left_arm:hover {
  transform: rotate(40deg);
  transition: all 1s;
}
.right_arm{
  position: relative;
  margin-left: 20px;
}
.right_arm:hover{
  transform: rotate(-40deg);
  transition: all 1s;
}

.torso{
  width: 300px;
  height: 200px;
  border-radius: 0 0 50px 50px;
}
.rob
{
  animation-name: robo;
  animation-duration: 10s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}
@keyframes robo{
from{
  transform: translate(-400px);
}
to{
  transform: translate(400px);
}
}

.low_body{
  width: 300px;
  height: 200px;
  display: flex;
}
.left_leg, .right_leg{
  width: 40px;
  height: 120px;
  border-radius: 100px;
}
.left_leg{
  position: relative;
  margin-left: 120px;
}
.right_leg{
  position: relative;
  margin-left: 50px;
}
.left_leg:hover{
transform: rotate(40deg);
transition: all 1s;
}
.right_leg:hover{
transform: rotate(-40deg);
transition: all 1s;
}
